@charset "UTF-8";

body {
    color:black;
    background: linear-gradient(to bottom, #F2E2CE 0%, #23B7D9 100%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin-left:15px;
    margin-top:0px;
}

#wrapper {
    width:100%;
    margin-right:auto;
    margin-left:auto;
}

header {
    background-color:#F2E2CE;
}

footer {
    background-color:#F2E2CE;
}

img {
    width:220px;
}

video {
    margin:15px;
}

figure {
    width:220px;
}

figcaption {
    text-align:center;
}